body {
    font-family: cursive;
    background-color: #FF8C00;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    
}



nav a {
    color: #20B2AA;
}

a:hover {
    color: #228B22;
}

h2 {
    text-align: center;
}

img {
    width: 300px;

}

.div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s2 {
    position: relative;
    z-index: -1;
    left: 150px;
    display: flex;
    justify-content: center;
}

.space{
    height: 135px;
}

header{
    position: fixed;
    
    margin: 0px;
    width: 100%;
    background-color: #FF8C00;
}

body{
    padding: 0;
    margin: 0;
}


.img2 {
    position: relative;
    right: 150px;
}

.img3 {
    position: relative;
    top: 40px;
    right: 350px;
}

.s1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: white;
    padding: 15px;
}
